:root {
  --primary-color: #121212;
  --secondary-color: #fffffc;
  --title-font: "Roboto", sans-serif;
  --text-font: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  font-family: var(--text-font);
  background: var(--primary-color);
  color: var(--secondary-color);
}

.title {
  text-align: center;
  margin: 50px 0;
}

.btn-container {
  width: 600px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.btn-container button {
  width: 100px;
  padding: 15px 0;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-container button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.mars-photo {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
